/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "/src/scss/variables";
.wp-block-kp-plugin-skill{
	.skill-icon img {
		pointer-events: all;
		cursor: pointer;
	}

	.skill-info {
		margin-left: 20px;
	}
}
