/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "/src/scss/variables";
@import "/src/components/Card";
.wp-block-kp-plugin-skill {
	.skill-icon img {
		pointer-events: all;
		cursor: pointer;
		width: 70px;
	}

	.skill-icon {
		display: flex;
	}

	.skill-name{
		font-size: 20px;
		font-weight: bold;
		margin: 0;
	}

	.skill-category{
		font-size: 14px;
		margin: 5px 0 0 0;
	}
}
